@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
    background-color:	#bae2ba;
}
.col{
    background-color: white;
}
.container{
    margin-top:20px;
    border-radius: 15px;
}
a{
    font-family: 'Josefin Sans', sans-serif;
    Color:#000000;
}
h2{
    font-family: 'Josefin Sans', sans-serif;
    Color: #995a89;
}
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}